<p> In the previous episode, we left off with Tachibana standing next to Kondo, making a wish on the moon. It was left ambiguous whether she was wishing to be closer to Kondo, or to be closer to Haruka. In light of the beginning of this episode, what was Tachibana wishing for?</p>
<img src="mpv-shot0002.jpg" alt="image 2"></img>
<p> </p>

<p>This show often draws attention to the bright light of the sun. Here, Tachibana raises her hand to block out the sun, and Kondo comments that the weather is very nice. We know what the rain symbolizes, but what does the sun symbolize?</p>
<img src="mpv-shot0003.jpg" alt="image 3"></img>
<p> </p>

<p>"Because Hugo and the pubisher had such a close relationshiph, one symbol was engouh to allow them to understand each other." This sounds like forshadowing what is going to happen to Tachibana and Kondo, but does it also have another meaning?</p> 
<img src="mpv-shot0004.jpg" alt="image 4"></img>
<img src="mpv-shot0005.jpg" alt="image 5"></img>

<p>Considering that Kondo's main conflict is the he believes himself to be a middle aged man who's life is over, why is it relevant that this  letter relevant.</p> 

<p> The letter that Tachibana chooses reads: "I read your letter. I don't think you can force yourself to forget what you can't forget. Let's meet again when the season comes around." The meaning of this letter speaks to Tachibana's relationship with Haruka, but it is ambiguous. How is it ambiguous, and what are the two possible meanings that it can have? 
<img src="mpv-shot0009.jpg" alt="image 9"></img>
<img src="mpv-shot0007.jpg" alt="image 7"></img>
<img src="mpv-shot0008.jpg" alt="image 8"></img>

<p>Chihiro says that to him, novels are like a lover. This makes Kondo's mouth hang open. Why?</p>
<img src="mpv-shot0010.jpg" alt="image 10"></img>
<img src="mpv-shot0011.jpg" alt="image 11"></img>
<img src="mpv-shot0012.jpg" alt="image 12"></img>

<p> Kondo says that he too treated his books like lovers, devoting everything that he had to them. In that context, and the fact we see a picture of his wife and a taken off wedding ring along side the words, What is Kondo referring to when he said "that became a one sided love" </p> 
<img src="mpv-shot0016.jpg" alt="image 16"></img>
<img src="mpv-shot0017.jpg" alt="image 17"></img>
<img src="mpv-shot0018.jpg" alt="image 18"></img>

<p>"I don't think it is supposed to be transparent. I think the foil peeled off because it was old." This is referring to the bookmark, sure, but what else could it be referring to?</p>
<img src="mpv-shot0019.jpg" alt="image 19"></img>
<p> It could be referring to the fact that even things are faded, they are still there if you hold them up to the light. (think Kondo)</p>

<p>There is a lot going on under the surface here. What is going on?</p>
<img src="mpv-shot0020.jpg" alt="image 20"></img>
<img src="mpv-shot0021.jpg" alt="image 21"></img>
<img src="mpv-shot0026.jpg" alt="image 26"></img>
<img src="mpv-shot0027.jpg" alt="image 27"></img>
<img src="mpv-shot0028.jpg" alt="image 28"></img>
<img src="mpv-shot0029.jpg" alt="image 29"></img>
<img src="mpv-shot0030.jpg" alt="image 30"></img>
<img src="mpv-shot0031.jpg" alt="image 31"></img>
<img src="mpv-shot0034.jpg" alt="image 34"></img>
<img src="mpv-shot0035.jpg" alt="image 35"></img>
<img src="mpv-shot0036.jpg" alt="image 36"></img>
<img src="mpv-shot0037.jpg" alt="image 37"></img>
<img src="mpv-shot0038.jpg" alt="image 38"></img>
<img src="mpv-shot0039.jpg" alt="image 39"></img>
<img src="mpv-shot0040.jpg" alt="image 40"></img>
<img src="mpv-shot0041.jpg" alt="image 41"></img>


<p> Why does Kondo thank Tachibana?</p> 
<img src="mpv-shot0042.jpg" alt="image 42"></img>
<img src="mpv-shot0043.jpg" alt="image 43"></img>
<img src="mpv-shot0044.jpg" alt="image 44"></img>
<img src="mpv-shot0045.jpg" alt="image 45"></img>















